{% extends 'base.html.twig' %}

{% block title %}ABOUT
{% endblock %}

{% block body %}
	{% for about in abouts %}
		<div class="container d-flex justify-content-around lg-12">
			<div class="box card m-3 border-white">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-4">
						<img
						class="card-img-top" src="{{ asset(about.avatar) }}" alt="about_Ogami">
					{# <img class="card-img-top" src="{{ vich_uploader_asset(about.avatar, 'imageFile') }}" alt="Jade Echard"> #}
					</div>
					<div class="col-sm-12 col-md-12 col-lg-8 d-flex align-items-center">
						<div class="w-75 description ms-5">
							<div class="box-header">
								<h1 class="mt-3">OGAMI</h1>
							</div>
							<div class="box-border py-1">
								<h2 class"row-sm-4 col-md-12  d-flex align-items-center">{{ about.title|raw }}</h2>
								<p class="about_desc">{{ about.description|raw }}</p>
							</div>
							<div class="box-footer">
								<div class="d-flex justify-content-center mt-5 mb-3">
									<div class="d-grid gap-2 col-4 mx-auto">
										<a class="btn btn-outline contact-btn" id="contact-btn" style="border-radius: 0; border-color: #0000FF;" href="#" role="button">CONTACT</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
                {% for about in abouts %}
		<div class="box row row-col-4 m-0 p-0">
			<div class="col-lg-4 d-flex justify-content-center">
				<div class="card aboutcategory mt-5 border-white">
					<div class="card-header border-white" style="background-color:white">
						<h2 class="aboutcategoryname text-center">
							{{ about.slogan }}
						</h2>
					</div>
					<div class="card-body infocategorie">
						<ul class="info categorie px-0">
							{{ about.slogan }}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
